## DYNAMO_DB | FAUNA_DB | MONGO_DB
DATABASE=FAUNA_DB

AWS_ACCESS_KEY_ID=your_aws_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret
AWS_REGION=your_aws_region

FAUNA_SECRET=your_fauna_secret

MONGODB_URL="http://localhost:27017"
