@import url('./reset.css');

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page h1 {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #000;
}

.page h1 strong {
  font-weight: 700;
}

.page p {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  color: #333;
}


.links span,
.links a {
  display: inline-block;
  vertical-align: middle;
}

.links span {
  color: #999;
}

.links span::after {
  content: '·';
}

.links a {
  margin: 0 9px;
  color: #666;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.links a:hover {
  color: #000;
}


.page .copyinfo {
  margin-top: 30px;
  font-size: 14px;
  color: #999;
}
